@font-face {
font-family: 'Airbnb Cereal App Book';
font-style: normal;
font-weight: normal;
src: local('Airbnb Cereal App Book'), url('AirbnbCerealBook.woff') format('woff');
}

@font-face {
font-family: 'Airbnb Cereal App Medium';
font-style: normal;
font-weight: normal;
src: local('Airbnb Cereal App Medium'), url('AirbnbCerealMedium.woff') format('woff');
}


body {

    background-image:url('images/background2.jpg');
    background-size:cover;
    background-attachment: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.form-header{
    font-family: 'Airbnb Cereal App Book';
}

.form-body{
    font-family: 'Airbnb Cereal App Book';
}

.welcome {
    font-family: 'Airbnb Cereal App Medium';
    color : white;
    margin-top: 2em;
    margin-left: 2em;
}

td{
    padding: 1px;
    padding-top: 10px;
    margin-bottom: 3px;
}

.form-header{
    padding: 1px;
    padding-top: 10px;
}

form {
    width: 700px;
    border-radius: 5px;
    background-color: white;
    padding: 30px;
    margin: 10px;
}

form.ans {
    width: 900px;
  }

.card {
max-width:250px;
}

.previous {
    color: #00A699;
  }

.container{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 0px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    margin-top: 0px;
}

label{
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 10px;
}

input{
    display: inline-block;
    margin-left: 10px;
}



h1 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

.btn-primary {
    position: relative;
    top: 20px;
    right: 10px;
    bottom: 1px;
    background-color: pink;
    border: none;
    font-size: 14px;
    width: 80px;
    height: 40px;
}

header {
    position: relative;
    margin-top: 0;
}

select#district, select#mrt{
    margin : 10px 10px 10px 0px;
    border : #ced4da
}

select#cluster_label{
    margin : 0 0 20px 10px;
    height : 36px;
    border : 1px solid #ced4da;
    width : 100%;
    border-radius : 0.25rem;
    color : gray
}


div.col-6{
    padding : 10px 10px 10px 0px;
}

div.checkbox {
    padding : 5px 5px 5px 0px;
}
#checkbox label input {

    margin-right: 5px
}

h1, h2, h3, h4, h5, h6 {
    color: #484848;
    font-family:"Airbnb Cereal App Medium"
  }

li {
  float: right;
}

li a {
  display: block;
  color: white;
  font-family: 'Airbnb Cereal App Book';
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #FF5A5F;
  color: white;
}

.card-deck {
    display: flex;
}

.card-img, .card-img-top {
    object-fit: cover;
    height: 200px;
}

.w-50 {
    margin-right: 20px
}