<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel='stylesheet' type = 'text/css' href= "{{url_for('static', filename='main8.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            var text_val;
            var districtandmrt = JSON.parse({{ district_mrt|tojson|safe}})
            var $district = $('select[name=district]');
            var $mrt = $('select[name=mrt]');

            var $mrtList = $mrt.find('option').clone();

            $district.change(function () {
                var $selectedDistrict = $(this).find('option:selected').text();
                $mrt.html($mrtList.filter(function () {
                    return $.inArray($(this).text(), districtandmrt[$selectedDistrict]) >= 0;
                }));
            });
        });
    </script>





</head>
<body>
    <div class="container">
        <ul>
            <li><a href="/about">About</a></li>
        </ul>
        <div class='welcome'>
            <div class="col-md-12">
                <h1>
                    Smarter Condominium Rental Search!
                </h1>
            </div>
        </div>
        <form action="/results">
            <div class="row">
                <div class="col-md-12">
                    <h1>Listing Information</h1>
                </div>

            </div>
            <div class="row">
                <div class="col-8">
                    <div class="select-style">
                        <select name="district" id='district' required>
                          <option value="">Select District</option>
                        {% for idx in range(district_list|length) %}
                            <option value="{{district_list[idx]}}" >{{ district_list[idx] }}</option>
                        {% endfor %}
 
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="select-style">
                        <select name="mrt" id='mrt' required>
                          <option value="">Select Mrt</option>
                        {% for idx in range(mrt_list|length) %}
                            <option value="{{mrt_list[idx]}}" >{{ mrt_list[idx] }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label for="year_built" class="select-style">Year Built</label>
                    <input type="number" class="form-control" name=built_year id="yearbuilt" min= {{ year_min}} max= {{ year_max}} placeholder="Input between {{year_min, year_max }}" required>
                </div>
                <div class="col-6">
                    <label for="inputAddress2" class="form-label">MRT Walking Time</label>
                    <input type="number" class="form-control" name=walking_time_to_mrt id="inputAddress2" min = 0 , max= 30, placeholder="Minutes (Max 30min)" required>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="inputAddress" class="form-label">Square Feet</label>
                    <input type="number" class="form-control" name=sqft id="sqft" min =100, max = 11128, placeholder = 'Min 100, Max 12000' required>
                </div>
                <div class="col-6">
                    <div class="select-style">
                        <label for="cluster_label" class="form-label">Neighbhourhood</label>
                        <select name="cluster_label" id='cluster_label' required>
                          <option value="">Select neighbhourhood</option>
                          <option value=0>Quiet & Peaceful</option>
                          <option value=1>Foodie!</option>
                          <option value=2>No Nightlife</option>
                          <option value=3>Don't Need outdoor</option>
                          <option value=4>Don't Need entertainment</option>
                          <option value=5>I need everything</option>
                        </select>
                    </div>
                </div>
                <div class="checkbox" id='checkbox'>
                    <input type="hidden" name=pool value= 0 >
                    <label><input type="checkbox" name=pool value= 1 >Swimming Pool</label>
                </div>
                <div class="checkbox" id='checkbox'>
                    <input type="hidden" name=gym value= 0 >
                    <label><input type="checkbox" name=gym value= 1 >Gym</label>
                </div>
            </div>
            
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    dintegrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>